AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /var/www/online-tilemap/.htpasswd
Require valid-user

RewriteEngine On
#RewriteBase /path/to/app
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]